{{package_name}}
{{package_name_border}}

{{package_description}}

{{shields}}

{{quick_links}}

{{#sections}}
## {{heading}}

{{body}}

{{/sections}}

{{#show_powered_by}}
*This README.md is generated dynamically from the project's codebase using `ee scaffold package-readme` ([doc](https://github.com/EasyEngine/scaffold-command)). To suggest changes, please submit a pull request against the corresponding part of the codebase.*
{{/show_powered_by}}
