{{#has_commands}}
{{#has_multiple_commands}}

This package implements the following commands:
{{/has_multiple_commands}}

{{#commands}}
{{#has_multiple_commands}}
### {{name}}

{{shortdesc}}
{{/has_multiple_commands}}

~~~
{{synopsis}}
~~~

{{longdesc}}

{{/commands}}
{{/has_commands}}
